.flex-container {
    width: 50%;
    height: 200px;
    background-color: rgb(52, 55, 188);
    margin: 0 auto 60px;
    display: flex;
}

.container-flex {
   height: 100px;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap; 
  gap: 10px;

  padding: 60px;
  background: #ffffff;
  border-radius: 8px;
}

.flex-item {
  background: #ff2222;
  color: white;
  padding: 20px;
  border-radius: 0px;
  text-align: center;
  min-width: 2.5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px
}

.quadrado {
    width:150px;
    height:150px;
}

.quadrado-verde {
    background-color: greenyellow;
      width:150px;
    height:150px;
}

.quadrado-roxo {
    background-color: blueviolet;
      width:150px;
    height:150px;
}